$indicator-width: 1.2em;
$indicator-border-size: $indicator-width * .1;
$indicator-arrowpoint-size: $indicator-width * .175;
$indicator-color: #fff;
$color-background: hsla(170, 50%, 45%, 1);

.indicator-container {
  background: transparent;
  border: $indicator-border-size solid white;
  border-radius: $indicator-width;
  bottom: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .2), inset 0 6px 8px 0 rgba(0, 0, 0, .2);
  height: $indicator-width * 1.75;
  left: 0;
  margin: auto auto span(.5);
  overflow: hidden;
  position: absolute;
  right: 0;
  width: $indicator-width;
  z-index: 2;
}

.indicator-arrow {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50%;

  .base {
    background: $indicator-color;
    border-radius: $indicator-border-size;
    height: $indicator-border-size * 1.25;
    margin: 0 auto;
    width: $indicator-border-size;
  }

  // .arrowpoint {
  //   border-color: $indicator-color transparent transparent transparent;
  //   border-style: solid;
  //   border-width: $indicator-arrowpoint-size $indicator-arrowpoint-size 0 $indicator-arrowpoint-size;
  //   height: 0;
  //   margin-top: -10%;
  //   width: 0;
  // }

}

.top {
  animation: arrowAnimation1 infinite 1.1s ease-in-out;
  margin-top: 100%;
}

.bottom {
  margin-top: 130%;
}

@keyframes arrowAnimation1 {
  from {margin-top: -90%;}
  to {margin-top: 50%;}
}





  // <div class="indicator-container">
  //   <div class="indicator-arrow top">
  //     <div class="base"></div>
  //     <div class="arrowpoint"></div>
  //   </div>
  //   <div class="indicator-arrow bottom">
  //     <div class="base"></div>
  //     <div class="arrowpoint"></div>
  //   </div>
  // </div>
